@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <input type="text" id="msg" />
        <input type="button" id="broadcast" value="送出" />

        <ul id="messages">
        </ul>
    </div>
</body>
</html>


<script src="http://code.jquery.com/jquery-1.7.min.js" type="text/javascript"></script>
  <script src="Scripts/jquery.signalR-1.0.0-alpha2.min.js" type="text/javascript"></script>
  <script type="text/javascript">
  $(function () {
      var connection = $.connection('/echo');

      connection.received(function (data) {
          $('#messages').append('<li>' + data + '</li>');
      });
      
      connection.start();
      
      $("#broadcast").click(function () {
          connection.send($('#msg').val());
      });
  });
  </script>

